@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!Doctype html>

<nav class="navbar navbar-light bg-light">

          <a class="navbar-brand" href="https://www.linkedin.com/in/carrington-beard/">
            <img src="~/Assets/LinkedInLogo.png" width="30" height="30" alt="">
                 LinkedIn
          </a>
          <a class="navbar-brand" href="https://github.com/Carringtonb">
            <img src="~/Assets/GitHubLogo.png" width="30" height="30" alt="">
                  GitHub
          </a>
    </nav>

<head>
    <title>Cisco Video Endpoints</title>
</head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<body style=" background: url(https://images.unsplash.com/photo-1455894127589-22f75500213a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed;
        background-size: cover; image-rendering:optimizeQuality">
    <div class="container" style="opacity: 0.6">
        <form method="post">

            <div class="card border-0 shadow my-5">
                <div class="card-body p-5" style="text-align: center; background-color: lightgray">
                    <h1 class="font-weight-light" style="margin:3em 0 2em 0">Cisco Video Endpoints Diagnostic Information</h1>
                    <button type="submit" class="btn btn-outline-dark" style="opacity:1; margin:2em 0 2em 0"> Retrieve Diagnostics Information</button>
                    <p class="lead" style="margin:2em 0 3em 0">Click the above button to view current call diagnostic information</p>
                    <div style="height: 700px"></div>
                </div>
            </div>
        </form>
    </div>
</body>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3" style="color:white">
        © 2020 Copyright: Carrington Beard
    </div>
</footer>